<div class="whatsapp-container">
    <a href="https://walink.co/bb672a" target="_blank">
        <img src="https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5302_-_Whatsapp-512.png"
            alt="whatsapp logo" class="whatsapp-container__img">
    </a>
</div>