<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{tabTitle: "Acerca de Nosotros"}) %>
<body>
    <!-- =================HEADER=================  -->
    <%- include('partials/header') %>

    <!-- =================MAIN=================  -->

    <main class="main">
        <h1 class="title">
            ACERCA DE NOSOTROS
        </h1>

        <section class="about-container">
            <p class="about-container__description">
                Somos una empresa dedicada a brindar soluciones tecnológicas de alta calidad a nuestros clientes. Con
                más de 10 años de experiencia en el mercado, nos hemos convertido en líderes en la venta de computadoras
                y componentes de las mismas.
            </p>
            <p class="about-container__description">
                Nuestra experiencia y conocimiento en la tecnología nos permite ofrecer productos y servicios
                personalizados, adaptados a las necesidades de cada cliente. Contamos con un equipo de profesionales
                altamente capacitados y con una gran pasión por lo que hacen, quienes están siempre dispuestos a ayudar
                y brindar asesoría en todo momento.
            </p>
            <p class="about-container__description">
                En nuestra tienda encontrarás una amplia variedad de productos, desde computadoras y laptops hasta
                componentes y accesorios de los mismos.
            </p>
            <p class="about-container__description">
                En resumen, somos una empresa comprometida con brindar soluciones tecnológicas de alta calidad y con un
                servicio excepcional a nuestros clientes. Nos esforzamos por ser líderes en el mercado y por mantenernos
                siempre actualizados con las últimas tendencias y tecnologías.
            </p>

            <h2 class="about-container__subtitle">Conócenos</h2>

            <section class="about-container__images">
                <img class="about-images" src="/public/assets/images/Partners/1.png" alt="Socio nro 1">
                <img class="about-images" src="/public/assets/images/Partners/2.png" alt="Socio nro 2">
                <img class="about-images" src="/public/assets/images/Partners/3.png" alt="Socio nro 3">
                <img class="about-images" src="/public/assets/images/Partners/4.png" alt="Socio nro 4">
            </section>
        </section>

    </main>

    <!-- =================WSP LOGO=================  -->
    <%- include('partials/wsp-logo') %>

    <!-- =================FOOTER=================  -->
    <%- include('partials/footer') %>

    <!-- =================JAVASCRIPT=================  -->
    <script src="/js/url.js"></script>
    <script src="/js/header.js"></script>    
    <script src="/js/orders.js"></script> 

</body>
</html>