<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{tabTitle: "Detalle Producto"}) %>
<body>
    <!-- =================HEADER=================  -->
    <%- include('partials/header') %>

    <!-- =================MAIN=================  -->

    <main class="main" id="main-detail">

    </main>

    <!-- =================WSP LOGO=================  -->
    <%- include('partials/wsp-logo') %>

    <!-- =================FOOTER=================  -->
    <%- include('partials/footer') %>
    
    <!--======================= AXIOS ======================= -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- =================JAVASCRIPT=================  -->
    <script src="/js/url.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/general.js"></script>
    <script src="/js/orders.js"></script>
    <script src="/js/product-detail.js"></script>
</body>
</html>